<?xml version="1.0" encoding="UTF-8"?>
<widget id="org.baystatehealth.Oleksiy.Kononenko.empdirapp1" version="" width="320" height="480" start="index.html">
<title>EmpDirApp</title>
<description></description>
<author name="" email="Oleksiy.Kononenko@baystatehealth.org" url=""></author>
<license></license>
</widget>
