/* Your app's CSS, go crazy, make it your own */

/*.details {
  padding: 0px 12px 0px 12px;
}

.details img {
  float: left;
  margin-right: 12px;
}*/
 @font-face {
    font-family: Lato;
    src: url(../lib/fonts/Lato-Reg.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(../lib/fonts/Lato-Bla.ttf);
}
/* styles to override ionic*/
 body, input, textarea {
    font-family:"Lato", Futura, Arial, sans-serif;
    ;
}
body {
    font-family:"Lato", Futura, Arial, sans-serif;
}
/* login page */
 .bar .title {
    font-family:"Lato", Futura, Arial, sans-serif;
    font-size: 14px;
}
.pane, .view {
    background-color:#EEEFEA;
}
.bar.bar-positive {
    background-color: #A7CE97;
}
.padding {
    padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.padding .forgot-password {
    text-align: center;
    color: #504144;
    font-size: 11px;
    /*font-family:"Lato", Futura, Arial, sans-serif;*/
}
.input-label {
    font-weight: normal;
    font-size: 14px;
    color: #ABABAB;
    padding-left: 45px;
    height: 27px;
    width: 40px;
}
#login {
    font-family:"Lato-Black", Futura, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    background: url(../img/login.png) no-repeat 96% center;
    background-size:27px 27px;
    background-color: #504144;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#login img {
    padding-right: 10px;
}
.password-field, .username-field {
    height: 60px;
    /*font-family:"Lato", Futura, Arial, sans-serif;*/
}
.username-field span:first-child {
    background: url(../img/username.png) no-repeat 4% center;
    background-size:27px 27px;
}
.password-field span:first-child {
    background: url(../img/password.png) no-repeat 4% center;
    background-size:27px 27px;
}
.password-field .item, .username-field .item {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #FFF;
    border-color: #C1C1BF;
    border-width: 1px;
}
.item {
    margin: 0px;
}
.item-input .ng-pristine {
    margin-left: -30px;
}
.scroll {
    padding-left: 20px;
    padding-right: 20px;
}
.scroll-content {
    padding-left: 10px;
    padding-right: 10px;
}
/* emp-list styles */
 .list {
   /* width: 100%; */
    background-color: #FFF;
}
.list .item {
    /*background: url(img/icons/login.png) no-repeat 94% center;*/
    background-size:27px 27px;
}
a.item:after {
    content: none;
}
.bar {
    background-color: #EEEFEA;
}

/* end of styles to override ionic*/
 .profile-image {
    /*display: block;*/
    border-radius: 110px;
    border: 1px solid #fff;
    width: 140px;
    height: 140px;
    /*margin: 30px auto 0;*/
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
.list {
    clear: both;
}
/*
 * styles for msg bar
 */
 .bar.bar-msg-subheader {
    display: block;
    height: 24px;
    /* starts right below a normal subheader header */
    top: 98px;
    /* make the text centered vertically and horizontally */
    text-align: center;
    padding: 0;
    line-height: 24px;
    /* transition 'sliding down' (check below)*/
    -webkit-transition: 200ms all;
}
.bar.bar-msg {
    display: block;
    height: 24px;
    /* starts right below a normal subheader header */
    top: 44px;
    /* make the text centered vertically and horizontally */
    text-align: center;
    padding: 0;
    line-height: 24px;
    /* transition 'sliding down' (check below)*/
    -webkit-transition: 200ms all;
}
/*
 * make the content's top changes animate.
 * might not always look good, but looks
 * good when our loader is added & removed
 */
 .has-header {
    -webkit-transition: 200ms top;
}
.has-header.has-msg {
    /* 44px (header+subheader) + 24px */
    top: 68px;
}
.has-subheader.has-msg {
    /* 88px (header+subheader) + 24px */
    top: 112px;
}
/* make message bar slide up/down */
 .has-msg.ng-enter, .has-msg.ng-leave.ng-leave-active {
    height: 0;
    border-width: 0px;
}
.has-msg.ng-enter.ng-enter-active, .has-msg.ng-leave {
    height: 24px;
    border-width: 1px;
}
/*
 * The class for forcing a width
 */
 .force-width {
    width: 70%;
    margin-right: 10px;
}
/*
 *Styles for form validation
 */
 form i.icon.error {
    color: #ef4e3a;
}
form input + i.icon.error, form textarea + i.icon.error, form i + i.icon.error {
    display: none;
    margin-left: 8px;
}
form.ng-submitted input.ng-invalid + i.icon.error, form.ng-submitted textarea.ng-invalid + i.icon.error, form.ng-submitted i.ng-invalid + i.icon.error {
    display: block;
}
form .has-error {
    border-left: 3px solid #cc2511;
    border-right: 3px solid #cc2511;
}
form .has-success {
    border-left: 3px solid #3d8b3d;
    border-right: 3px solid #3d8b3d;
}
form.ng-submitted input.ng-valid + i.icon.error, form.ng-submitted textarea.ng-valid + i.icon.error, form.ng-submitted i.ng-valid + i.icon.error {
    display: none;
}
.validated {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: horizontal;
    -moz-flex-direction: horizontal;
    -ms-flex-direction: horizontal;
    flex-direction: horizontal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    padding-right: 4px;
    width: 100%;
}
.validated .input-label {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 30%;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}
.validated .checkbox .input-label {
    margin-left: 0px;
}
.validated input[type="text"], .validated input[type="password"], .validated input[type="datetime"], .validated input[type="datetime-local"], .validated input[type="date"], .validated input[type="month"], .validated input[type="time"], .validated input[type="week"], .validated input[type="number"], .validated input[type="email"], .validated input[type="url"], .validated input[type="search"], .validated input[type="tel"], .validated input[type="color"], .validated textarea {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
}
.validated error {
    min-width: 16px;
    max-width: 16px;
    width: 16px;
}
/*
 * Rule to override form validation rules.
 */

/*.item-stacked-label {*/

/*display: block;*/

/*background-color: transparent;*/

/*box-shadow: none;*/

/*}*/

/*.item-stacked-label i.icon.error {*/

/*position: absolute;*/

/*top:10px;*/

/*right: 10px;*/

/*}*/








.login-title {
    color: #828280;
    border-bottom:1px solid #828280;
    height: 25px;
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: uppercase;
}


.bar-header {
    visibility:visible;
}

.list {
    margin-left: -30px;
    margin-right: -30px;
}

.list a:hover {
    background-color:#eeeeee;
}


#detail-title {
    margin: 0 -30px;
}


#emp-name {
    background-color: #e0deae;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#emp-name-block {
    position: relative;
    padding-top: 0;
    padding-right: 0;
}

#emp-name-titles {
    padding-left: 10px;
    padding-top: 10px;
}


#profile-image {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 105px;
    max-width: 105px;
    width: 105px;
    height: 105px;
}


#list-top-margin {
    margin-top: -1px;
}


#profile-details-location {
    background: url(../img/location.png) no-repeat 94% center;
    background-size:27px 27px;
}

.profile-details-phone {
    background: url(../img/phone.png) no-repeat 94% center;
    background-size:27px 27px;
}

#profile-details-mail {
    background: url(../img/mail.png) no-repeat 94% center;
    background-size:27px 27px;
}

#profile-details-page {
    background: url(../img/send-page.png) no-repeat 94% center;
    background-size:27px 27px;
}

.reduce-padding {
    padding: 8px 15px;
}

div#no-padding {
    padding-top: 0;
}


#send-to-details {
    position: relative;
    color: #828280;
    background-color: #eaeaea;
    padding: 10px;
    margin-bottom: 0;
}


#send-to-details img {
    position: absolute;
    z-index: 99;
    top: -15px;
    right: 15px;
    width: 70px;
    height: 70px;
}


.img-thumb-holder {
    position: absolute;
    z-index: 99;
    top: -15px;
    right: 15px;
    width: 70px;
    height: 70px;
}

#send-to {
    color: #828280;
    font-size: 10px;
    margin-left: -30px;
    margin-right: -30px;
    background-color: #e0deae;
    padding: 6px 8px;
}


#bold-name {
    color: #000000;
    font-size: 18px;
    font-family:"Lato-Black", Futura, Arial, sans-serif;
}


#text-area-label {
    font-size: 10px;
}


#login-send-page {
    font-family:"Lato-Black", Futura, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    background: url(../img/send-page-white.png) no-repeat 96% center;
    background-size:27px 27px;
    background-color: #504144;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}


#search-bar-bg {
    background-color: #ecece8;
}


.search-field span:first-child {
    background: url(../img/search.png) no-repeat 1% center;
    background-size:27px 27px;
    border: 1px solid red;
}


#searchStr {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #C1C1BF;
    background: #ffffff url(../img/search.png) no-repeat 90% center;
    background-size:27px 27px;
}

#search {
    color: #ffffff;
    width: 160px;
    height: 27px;
    font-family:"Lato-Black", Futura, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    background: #504144 url(../img/search-arrow.png) no-repeat 96% center;
    background-size:27px 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*#searchStr {*/
    /*border: 1px solid red;*/
    /*background-color: #ffffff;*/
/*}*/

/*#profile-details-icons {*/
    /*position: absolute;*/
    /*top:0;*/
    /*right:0;*/
/*}*/

/*.scroll-content {*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/

/*.scroll {*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/


